.footer {
  background-color: var(--primary-color);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  color: #fff;
  text-align: center;
}

.facebook {
  width: 40px;
}

.insta {
  width: 40px;
}

.email {
  width: 40px;
}

.footer p {
  margin: 20px;
  color: #fff;
}

.social-footer {
  display: flex;
  justify-content: space-evenly;
}
